@font-face {
    font-family: 'got';
    src: url('../assets/fonts/got.ttf') format('truetype');
}

#game-of-spoilers-popup {
    font-family: 'got', Tahoma, serif;
    font-size: 100%;
    min-width: 380px;
    text-align: center;
    padding: 17px;
    background-color: #ffffff;
    color: #585858;
}

#game-of-spoilers-popup #logo {
    width: 100%;
    margin-bottom: 17px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 25px;
}

#game-of-spoilers-popup #title {
    font-size: 30px;
}

#game-of-spoilers-popup #subtitle {
    font-size: 12px;
    margin-top: 17px;
    margin-bottom: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #000;
}

#game-of-spoilers-popup #subtitle a {
    outline: none;
    color: #071FE0;
    font-weight: bold;
    text-decoration: none
}

#game-of-spoilers-popup #subtitle a:hover {
    color: #CE1414;
    border-bottom: 1px solid #CE1414
}

#game-of-spoilers-popup #subtitle a:active {
    color: #585858;
    border-bottom-color: #585858
}

#game-of-spoilers-popup #stark-image {
    height: 88px;
    margin-top: -6px;
    margin-bottom: -14px
}

#game-of-spoilers-popup .setting-holder {
    height: 2em;
    line-height: 2.6em;
    font-size: 13px;
    margin-top: 20px
}

#game-of-spoilers-popup .setting-holder textarea {
    border-radius: 0;
    border-color: #e2e2e2;
    padding: 4px;
    width: 100%;
    height: 40px;
    outline: none;
    transition: width 0.5s ease-in 0s, height 0.5s ease-in 0s;
    text-align: justify;
}


#game-of-spoilers-popup .setting-holder .onoffswitch {
    float: right
}

#game-of-spoilers-popup .setting-holder .setting-text {
    float: left
}

#game-of-spoilers-popup .setting-holder .setting-text {
    padding-left: 1px
}

#game-of-spoilers-popup .setting-holder .setting-text.centered {
    width: 100%;
    text-decoration: underline
}

#game-of-spoilers-popup #num-spoilers-prevented {
    padding-bottom: 3px;
    font-family: sans-serif;
    text-align: left;
    color: #585858d4;
    font-size: 10px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 17px;
}

#game-of-spoilers-popup .onoffswitch {
    position: relative;
    width: 85px;
    -ms-user-select: none
}

#game-of-spoilers-popup .onoffswitch {
    cursor: pointer;
}

#game-of-spoilers-popup .onoffswitch-checkbox {
    display: none
}

#game-of-spoilers-popup .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #585858;
    border-radius: 0;
    width: 76px
}

#game-of-spoilers-popup .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s
}

#game-of-spoilers-popup .onoffswitch-inner:before,
#game-of-spoilers-popup .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box
}

#game-of-spoilers-popup .onoffswitch-inner:before {
    content: "ON";
    padding-right: 33px;
    background-color: #585858;
    color: #FFFFFF
}

#game-of-spoilers-popup .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 9px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right
}

#game-of-spoilers-popup .onoffswitch-switch {
    display: block;
    width: 34px;
    margin: 0px;
    background-image: url("assets/images/targaryen.png");
    background-color: white;
    background-size: 23px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 49px;
    border-radius: 0;
    transition: all 0.3s ease-in 0s;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #585858
}

#game-of-spoilers-popup .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0
}

#game-of-spoilers-popup .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 5px
}